<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
        body{
        background-color:#c6ccda;
        }
        
        h1{
            left:20%;
            padding:10px 5px 5px 5px;
            
        }
        h2{
            position:absolute;
            left:15%;
        }

    </style>
    <body>
        <div class="head">

        </div>
        <h1>Patterns of Data</h1>
        <hr>
        <br>
        <h2>Attrition vs Gender</h2>
        <img src="/static/images/Gender.jpg" alt="imag">
        <br><hr>
        <h2>Attrition vs JobRole</h2>
        <img src="/static/images/JobRole.jpg" alt="imag">
        <br><hr>
        <h2>Attrition vs WOrkLifeBalance</h2>
        <img src="/static/images/WorkLifeBalance.jpg" alt="imag">
        <br><hr>
        <h2>Attrition vs BusinessTravel</h2>
        <img src="/static/images/BusinessTravel.jpg" alt="imag">
        <br><hr>
        <script src="" async defer></script>
    </body>
</html>