<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
        body{
            background-color:#c6ccda;
        }

        #body{
            right:25%;
            position:absolute;
            top=50%;
            background-color:rgb(85, 117, 139);
            padding: 300px 400px;
        }

        #content{
            position:absolute;
            right:28%;
        }
        #content h1,h2{
            color:white;
        }
        h3{
            color:white;
        }


    </style>
    <body>
        <br>
        <br>
        <br>
        <div id=body>
       </div>
       <div id="content">
            <h1>An ML-Based Solution to Lower Employee Attrition</h1>
            <br><br>
            <h2>*Upload Data</h2>
            <a href="getdata.html"><h3>Click here to upload data<h3></a>
            <br>
            <h2>*Analyze Patterns</h2>
            <a href='descriptive.html'><img src="/static/images/tag2.jpg" height=70></a>
            <br><br>
            <h2>*Predict Future Attrition</h2>
            <a href='predictive.html'><img src="/static/images/tag1.jpg" height=70></a>
        </div>
        <script src="" async defer></script>
    </body>
</html>