<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
        body{
            background-color:#c6ccda;
        }

        #body{
            right:25%;
            position:absolute;
            top=50%;
            background-color:rgb(85, 117, 139);
            padding: 300px 400px;
        }


        .image{
            color:white;
            position:absolute;
            left:35%;
            top:10%;
        }
    </style>
    <body>
        <br>
        <br>
        <br>
        <div id=body>
       </div>
       <div id="content">
            
       </div>
       <div class="image">
        <h1>Future Attrition</h1>
       <img src="/static/images/past_attr.jpg" alt="image">
       <p>From the above fig we can say that 70 employess
         out of 441 could leave the comapany </p>
       </div>
        <script src="" async defer></script>
    </body>
</html>